//? there are two ways to debuging styles
* {
  box-sizing: border-box;

  // background: hsl(200, 82%, 57%) !important;
  // outline: .5rem solid hsl(212, 98%, 58%) !important;
}

//? Image and A elements that don't have a alt and href create a dashed border around him
img:not([alt]),
img[alt=""],
img:not([loading]),
img[loading=""],
a:not([href]),
a[href=""] {
  outline: .5rem dashed hsl(0, 100%, 28%);
}

//? for dark and light mode
:root {
  color-scheme: light dark;
}

//? for rtl support
html {
  direction: rtl;
}