/* Mixins Items*/

@mixin line-clamp($count) {
    display: -webkit-box;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin typing-effect($width, $timing-effect, $timing-delay) {
    display: inline-block;
    width: $width;
    border-inline-end: 3px solid transparent;
    animation: typing $timing-effect steps(10) $timing-delay, blink 0.5s step-end infinite alternate;

    font-size: 1.1em;
    margin-block-end: -1.3rem;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
        border-inline-end: 3px solid;
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}